In [84]:
import pandas as pd
import numpy as np

In [85]:
excel_file_path = 'Data/Dataset.xlsx'

ticket_data = pd.read_excel(excel_file_path, sheet_name='Ticket')

df_ticket = pd.DataFrame(ticket_data)

customer_data = pd.read_excel(excel_file_path, sheet_name='Customers')

df_customer = pd.DataFrame(customer_data)

film_data = pd.read_excel(excel_file_path, sheet_name='Film')

df_film = pd.DataFrame(film_data)

Ticket data processing

In [86]:
df_ticket.head()

,orderid,cashier,saledate,total,customerid,ticketcode,date,time,slot,room,film,slot type,ticket type,ticket price,popcorn
0,10006052019B0225,emp002,2019-05-06 16:40:43,90000.0,0000000014,20074925,2019-05-06,18:15:00,G04,3,AVENGERS: HỒI KẾT,ĐƠN,Thành viên,45000,Không
1,10006052019B0225,emp002,2019-05-06 16:40:43,90000.0,0000000014,20074924,2019-05-06,18:15:00,G03,3,AVENGERS: HỒI KẾT,ĐƠN,Thành viên,45000,Không
2,10022052019B0167,emp011,2019-05-22 20:30:28,90000.0,0000000034,20097042,2019-05-22,20:45:00,E04,2,JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH,ĐƠN,Thành viên,45000,Không
3,10022052019B0167,emp011,2019-05-22 20:30:28,90000.0,0000000034,20097041,2019-05-22,20:45:00,E03,2,JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH,ĐƠN,Thành viên,45000,Không
4,10130052019B0141,emp005,2019-05-30 19:28:44,90000.0,0000000034,20106761,2019-05-30,19:30:00,F04,1,NGÔI ĐỀN KỲ QUÁI,ĐƠN,Thành viên,45000,Không

In [87]:
colums_to_drop = ['orderid', 'saledate', 'cashier', 'total', 'ticketcode', 'date', 'time', 'slot', 'room', 'ticket price']
df_ticket.drop(columns=colums_to_drop, inplace=True)
df_ticket

,customerid,film,slot type,ticket type,popcorn
0,0000000014,AVENGERS: HỒI KẾT,ĐƠN,Thành viên,Không
1,0000000014,AVENGERS: HỒI KẾT,ĐƠN,Thành viên,Không
2,0000000034,JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH,ĐƠN,Thành viên,Không
3,0000000034,JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH,ĐƠN,Thành viên,Không
4,0000000034,NGÔI ĐỀN KỲ QUÁI,ĐƠN,Thành viên,Không
...,...,...,...,...,...
35469,WEBS00000044909,CHÚA TỂ GODZILLA: ĐẾ VƯƠNG BẤT TỬ,ĐƠN,Thành viên,Không
35470,WEBS00000044909,CHÚA TỂ GODZILLA: ĐẾ VƯƠNG BẤT TỬ,ĐƠN,Thành viên,Không
35471,WEBS00000044909,CHÚA TỂ GODZILLA: ĐẾ VƯƠNG BẤT TỬ,ĐƠN,Thành viên,Không
35472,WEBS00000046015,AVENGERS: HỒI KẾT,ĐƠN,Thành viên,Không
35473,WEBS00000046015,AVENGERS: HỒI KẾT,ĐƠN,Thành viên,Không

Customer data processing

In [88]:
df_customer.head()

,customerid,DOB,gender,address,Website,job,industry
0,0000000014,36268,Nữ,hoa khe quan thanh khe,KH0104|0345,student,computer
1,0000000034,35901,Nam,man thai,KH0104|0333,student,health service
2,0000000051,34319,Nam,que son quang nam,KH0104|0255,blue collar,economics
3,0000000081,36472,Nam,truong chinh,KH0104|0293,student,economics
4,0000000098,34608,Nam,cẩm lệ,KH0104|40580,blue collar,health service

In [89]:
drop_cols = ['DOB', 'address', 'Website']
df_customer.drop(columns=drop_cols, inplace=True)

In [90]:
df_customer

           customerid gender          job        industry
0          0000000014     Nữ      student        computer
1          0000000034    Nam      student  health service
2          0000000051    Nam  blue collar       economics
3          0000000081    Nam      student       economics
4          0000000098    Nam  blue collar  health service
...               ...    ...          ...             ...
4474        KH9855766     Nữ   specialist         finance
4475        KH9958204     Nữ     teenager             NaN
4476  WEBS00000043900     Nữ   specialist    construction
4477  WEBS00000044909     Nữ  blue collar         finance
4478  WEBS00000046015     Nữ     teenager             NaN

[4479 rows x 4 columns]

Ticket + Customer

In [91]:
df_tiket_customer = pd.merge(df_ticket, df_customer, on='customerid', how='left')

In [92]:
df_tiket_customer.head()

,customerid,film,slot type,ticket type,popcorn,gender,job,industry
0,0000000014,AVENGERS: HỒI KẾT,ĐƠN,Thành viên,Không,Nữ,student,computer
1,0000000014,AVENGERS: HỒI KẾT,ĐƠN,Thành viên,Không,Nữ,student,computer
2,0000000034,JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH,ĐƠN,Thành viên,Không,Nam,student,health service
3,0000000034,JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH,ĐƠN,Thành viên,Không,Nam,student,health service
4,0000000034,NGÔI ĐỀN KỲ QUÁI,ĐƠN,Thành viên,Không,Nam,student,health service

In [93]:
df_tiket_customer.shape

(35474, 8)

In [94]:
df_tiket_customer.drop_duplicates(subset=['customerid', 'film'], inplace=True)
df_tiket_customer.head()

,customerid,film,slot type,ticket type,popcorn,gender,job,industry
0,0000000014,AVENGERS: HỒI KẾT,ĐƠN,Thành viên,Không,Nữ,student,computer
2,0000000034,JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH,ĐƠN,Thành viên,Không,Nam,student,health service
4,0000000034,NGÔI ĐỀN KỲ QUÁI,ĐƠN,Thành viên,Không,Nam,student,health service
6,0000000051,JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH,ĐƠN,Thành viên,Không,Nam,blue collar,economics
8,0000000081,AVENGERS: HỒI KẾT,ĐƠN,Thành viên,Không,Nam,student,economics

In [95]:
customer_movies = df_tiket_customer.groupby('customerid')['film'].agg(list).reset_index()

In [96]:
customer_movies

           customerid                                               film
0          0000000014                                [AVENGERS: HỒI KẾT]
1          0000000034  [JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH, NGÔI ĐỀN K...
2          0000000051                [JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH]
3          0000000081                                [AVENGERS: HỒI KẾT]
4          0000000098                   [AVENGERS: HỒI KẾT, VÔ GIAN ĐẠO]
...               ...                                                ...
4474        KH9855766  [CHÚA TỂ GODZILLA: ĐẾ VƯƠNG BẤT TỬ, JOHN WICK ...
4475        KH9958204                                 [NGÔI ĐỀN KỲ QUÁI]
4476  WEBS00000043900      [MẸ MA THAN KHÓC LA LLORONA, ƯỚC HẸN MÙA THU]
4477  WEBS00000044909                [CHÚA TỂ GODZILLA: ĐẾ VƯƠNG BẤT TỬ]
4478  WEBS00000046015                                [AVENGERS: HỒI KẾT]

[4479 rows x 2 columns]

Film data processing

In [97]:
df_film.head()

,film,title,director,cast,country,release_year,rating,duration,listed_in,description
0,NGÔI ĐỀN KỲ QUÁI,Pee Nak,Phontharis Chotkijsadarsopon,"Chinawut Indracusin, Vachiravit Paisarnkulwong...",Thailand,2019,NC-17,108 min,"Horror, Comedy",The Karma team attended Aod's ordination cerem...
1,AVENGERS: HỒI KẾT,Avengers: Endgame,"Anthony Russo, Joe Russo","Robert Downey Jr., Chris Evans, Mark Ruffalo, ...",United States,2019,PG-13,183 min,"Action-Adventure, Fantasy, Science Fiction",The grave course of events set in motion by Th...
2,JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH,John Wick: Chapter 3 - Parabellum,Chad Stahelski,"Keanu Reeves, Ian McShane, Halle Berry, Lauren...",United States,2019,NC-17,127 min,Action,Super-Assassin John Wick (Keanu Reeves) is on ...
3,VÔ GIAN ĐẠO,Vo Gian Dao,Trần Việt Anh,"La Thành, Xuân Nghị, Huỳnh Anh",Vietnam,2019,NC-17,113 min,Action,Vo Gia Dao explores a complex story in a world...
4,DORAEMON: NOBITA VÀ MẶT TRĂNG PHIÊU LƯU KÝ,Doraemon: Nobita's Chronicle of the Moon Explo...,Yakuwa Shinnosuke,"Wasabi Mizuta, Sang Hyun Uhm, Jung-jae Lee",Japanese,2019,G,120 min,"Family, Animation",Nobita saw a moon turned yellow last night and...

In [98]:
new_data = df_film[['film', 'title', 'director', 'cast','country','release_year', 'rating','duration', 'listed_in', 'description']]
new_data.set_index('film', inplace=True)
new_data.drop(columns='release_year', inplace=True)

In [99]:
new_data.head()

,title,director,cast,country,rating,duration,listed_in,description
film,,,,,,,,
NGÔI ĐỀN KỲ QUÁI,Pee Nak,Phontharis Chotkijsadarsopon,"Chinawut Indracusin, Vachiravit Paisarnkulwong...",Thailand,NC-17,108 min,"Horror, Comedy",The Karma team attended Aod's ordination cerem...
AVENGERS: HỒI KẾT,Avengers: Endgame,"Anthony Russo, Joe Russo","Robert Downey Jr., Chris Evans, Mark Ruffalo, ...",United States,PG-13,183 min,"Action-Adventure, Fantasy, Science Fiction",The grave course of events set in motion by Th...
JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH,John Wick: Chapter 3 - Parabellum,Chad Stahelski,"Keanu Reeves, Ian McShane, Halle Berry, Lauren...",United States,NC-17,127 min,Action,Super-Assassin John Wick (Keanu Reeves) is on ...
VÔ GIAN ĐẠO,Vo Gian Dao,Trần Việt Anh,"La Thành, Xuân Nghị, Huỳnh Anh",Vietnam,NC-17,113 min,Action,Vo Gia Dao explores a complex story in a world...
DORAEMON: NOBITA VÀ MẶT TRĂNG PHIÊU LƯU KÝ,Doraemon: Nobita's Chronicle of the Moon Explo...,Yakuwa Shinnosuke,"Wasabi Mizuta, Sang Hyun Uhm, Jung-jae Lee",Japanese,G,120 min,"Family, Animation",Nobita saw a moon turned yellow last night and...

In [100]:
import string

class TextCleaner:
    def separate_text(self, texts):
        unique_texts = set()
        for text in texts.split(','):
            unique_texts.add(text.strip().lower())
        return ' '.join(unique_texts)

    def remove_space(self, texts):
        return texts.replace(' ', '').lower()

    def remove_punc(self, texts):
        texts = texts.lower()
        texts = texts.translate(str.maketrans('', '', string.punctuation))
        return ' '.join(texts.split())

    def clean_text(self, texts):
        texts = self.separate_text(texts)
        texts = self.remove_space(texts)
        texts = self.remove_punc(texts)
        return texts

In [101]:
cleaner = TextCleaner()

In [102]:
new_data['title']    = new_data['title'].apply(cleaner.separate_text)
new_data['cast']        = new_data['cast'].apply(cleaner.separate_text)
new_data['rating']      = new_data['rating'].apply(cleaner.remove_space)
new_data['listed_in']   = new_data['listed_in'].apply(cleaner.separate_text)
new_data['director']   = new_data['director'].apply(cleaner.separate_text)
new_data['description']   = new_data['description'].apply(cleaner.remove_punc)

In [103]:
new_data['BoW'] = new_data.apply(lambda row: ' '.join(row.dropna().values), axis=1)
new_data.drop(new_data.columns[:-1], axis=1, inplace=True)

In [104]:
new_data.head()

                                                                                          BoW
film
NGÔI ĐỀN KỲ QUÁI                          pee nak phontharis chotkijsadarsopon vachiravi...
AVENGERS: HỒI KẾT                           avengers: endgame anthony russo joe russo scar...
JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH           john wick: chapter 3 - parabellum chad stahels...
VÔ GIAN ĐẠO                                 vo gian dao trần việt anh huỳnh anh la thành x...
DORAEMON: NOBITA VÀ MẶT TRĂNG PHIÊU LƯU KÝ  doraemon: nobita's chronicle of the moon explo...

In [105]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [106]:
tfid = TfidfVectorizer()
tfid_matrix = tfid.fit_transform(new_data['BoW'])

In [107]:
new_data

                                                                                          BoW
film
NGÔI ĐỀN KỲ QUÁI                          pee nak phontharis chotkijsadarsopon vachiravi...
AVENGERS: HỒI KẾT                           avengers: endgame anthony russo joe russo scar...
JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH           john wick: chapter 3 - parabellum chad stahels...
VÔ GIAN ĐẠO                                 vo gian dao trần việt anh huỳnh anh la thành x...
DORAEMON: NOBITA VÀ MẶT TRĂNG PHIÊU LƯU KÝ  doraemon: nobita's chronicle of the moon explo...
LẬT MẶT: NHÀ CÓ KHÁCH                       face off: the walking guests lý hải jay quân k...
VỢ BA                                       the third wife ash mayfair nguyễn phương trà m...
NỤ HÔN MA QUÁI                              krasue sitisiri mongkolsiri sapol assawamunkon...
CORGI: NHỮNG CHÚ CHÓ HOÀNG GIA              the queen's corgi ben stassen vincent kesteloo...
CÀ CHỚN ANH ĐỪNG ĐI                         ca chon anh dung di đỗ cường vũ đức hải gia ...
MẸ MA THAN KHÓC LA LLORONA                  the curse of la llorona michael chaves patrici...
ALADDIN                                     aladdin guy ritchie will smith naomi scott men...
POKÉMON: THÁM TỬ PIKACHU                    pokémon detective pikachu rob letterman suki w...
THẰNG EM LÝ TƯỞNG                           inseparable bros yook sang-hyo shin ha kyun es...
QUÝ CÔ LỪA ĐẢO                              the hustle chris addison rebel wilson alex sha...
ƯỚC HẸN MÙA THU                             autumn promise nguyễn quang dũng hoàng phi yoo...
CHÚA TỂ GODZILLA: ĐẾ VƯƠNG BẤT TỬ           godzilla: king of the monsters michael dougher...

In [108]:
from sklearn.metrics.pairwise import cosine_similarity

In [109]:
cosine_sim = cosine_similarity(tfid_matrix, tfid_matrix)
cosine_sim

array([[1.        , 0.07011629, 0.04888172, 0.05995861, 0.04994303,
        0.06267401, 0.06193675, 0.13270225, 0.10307741, 0.06163882,
        0.12498132, 0.09485558, 0.07205968, 0.06216263, 0.09181595,
        0.12686273, 0.06376685],
       [0.07011629, 1.        , 0.05645341, 0.04102099, 0.02399061,
        0.0576148 , 0.04507239, 0.07257195, 0.0614264 , 0.04982078,
        0.06550449, 0.07716106, 0.10753739, 0.03333488, 0.07222441,
        0.06118641, 0.09651926],
       [0.04888172, 0.05645341, 1.        , 0.05255025, 0.04933283,
        0.04071905, 0.0409005 , 0.08210572, 0.08004987, 0.03104072,
        0.1025994 , 0.07277591, 0.07209525, 0.06051847, 0.07471235,
        0.0755331 , 0.07397865],
       [0.05995861, 0.04102099, 0.05255025, 1.        , 0.02393273,
        0.0621605 , 0.09448338, 0.11131426, 0.04254687, 0.09882168,
        0.09944763, 0.06813361, 0.07664727, 0.06740723, 0.03503019,
        0.10164775, 0.04592934],
       [0.04994303, 0.02399061, 0.04933283, 0.02393273, 1.        ,
        0.03146869, 0.01737727, 0.05153576, 0.07692323, 0.06690961,
        0.06009884, 0.04930258, 0.04904484, 0.07249986, 0.02716918,
        0.05700513, 0.03880153],
       [0.06267401, 0.0576148 , 0.04071905, 0.0621605 , 0.03146869,
        1.        , 0.09306679, 0.08747883, 0.06053986, 0.07476717,
        0.0916699 , 0.05290042, 0.09050369, 0.03900065, 0.08239371,
        0.099723  , 0.05057303],
       [0.06193675, 0.04507239, 0.0409005 , 0.09448338, 0.01737727,
        0.09306679, 1.        , 0.08150825, 0.05347013, 0.11571295,
        0.08190813, 0.06364915, 0.05370874, 0.03955659, 0.03269135,
        0.14122451, 0.02445791],
       [0.13270225, 0.07257195, 0.08210572, 0.11131426, 0.05153576,
        0.08747883, 0.08150825, 1.        , 0.12324399, 0.08875295,
        0.15048788, 0.11705484, 0.1104545 , 0.0592427 , 0.08891254,
        0.10669581, 0.07645679],
       [0.10307741, 0.0614264 , 0.08004987, 0.04254687, 0.07692323,
        0.06053986, 0.05347013, 0.12324399, 1.        , 0.07705612,
        0.08369893, 0.11319844, 0.12049847, 0.05243153, 0.05443108,
        0.12517834, 0.07930428],
       [0.06163882, 0.04982078, 0.03104072, 0.09882168, 0.06690961,
        0.07476717, 0.11571295, 0.08875295, 0.07705612, 1.        ,
        0.06177024, 0.06871576, 0.07833696, 0.08481513, 0.06730227,
        0.10408214, 0.03285949],
       [0.12498132, 0.06550449, 0.1025994 , 0.09944763, 0.06009884,
        0.0916699 , 0.08190813, 0.15048788, 0.08369893, 0.06177024,
        1.        , 0.11572909, 0.09723696, 0.07549295, 0.0896393 ,
        0.0890652 , 0.08535241],
       [0.09485558, 0.07716106, 0.07277591, 0.06813361, 0.04930258,
        0.05290042, 0.06364915, 0.11705484, 0.11319844, 0.06871576,
        0.11572909, 1.        , 0.1360937 , 0.04723666, 0.08972066,
        0.0801548 , 0.10667546],
       [0.07205968, 0.10753739, 0.07209525, 0.07664727, 0.04904484,
        0.09050369, 0.05370874, 0.1104545 , 0.12049847, 0.07833696,
        0.09723696, 0.1360937 , 1.        , 0.07400693, 0.08650017,
        0.10965753, 0.09757091],
       [0.06216263, 0.03333488, 0.06051847, 0.06740723, 0.07249986,
        0.03900065, 0.03955659, 0.0592427 , 0.05243153, 0.08481513,
        0.07549295, 0.04723666, 0.07400693, 1.        , 0.07260648,
        0.08899458, 0.02170329],
       [0.09181595, 0.07222441, 0.07471235, 0.03503019, 0.02716918,
        0.08239371, 0.03269135, 0.08891254, 0.05443108, 0.06730227,
        0.0896393 , 0.08972066, 0.08650017, 0.07260648, 1.        ,
        0.06975301, 0.052742  ],
       [0.12686273, 0.06118641, 0.0755331 , 0.10164775, 0.05700513,
        0.099723  , 0.14122451, 0.10669581, 0.12517834, 0.10408214,
        0.0890652 , 0.0801548 , 0.10965753, 0.08899458, 0.06975301,
        1.        , 0.05744268],
       [0.06376685, 0.09651926, 0.07397865, 0.04592934, 0.03880153,
        0.05057303, 0.02445791, 0.07645679, 0.07930428, 0.03285949,
        0.08535241, 0.10667546, 0.09757091, 0.02170329, 0.052742  ,
        0.05744268, 1.        ]])

In [110]:
np.save('tfidf_matrix.npy', tfid_matrix)
np.save('cosine_sim_matrix.npy', cosine_sim)

In [111]:
import pickle
with open('tfidf_vectorizer.pkl', 'wb') as f:
    pickle.dump(tfid, f)

In [112]:
final_data = df_film[['film', 'country']]
final_data.head()

                                         film        country
0                          NGÔI ĐỀN KỲ QUÁI       Thailand
1                           AVENGERS: HỒI KẾT  United States
2           JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH  United States
3                                 VÔ GIAN ĐẠO        Vietnam
4  DORAEMON: NOBITA VÀ MẶT TRĂNG PHIÊU LƯU KÝ       Japanese

In [113]:
import re
class CinemaSystem:
    def __init__(self, df, cosine_sim):
        self.df = df
        self.cosine_sim = cosine_sim
    
    def recommendation(self, film_list, total_result=5, threshold=0.5):
        idx_list = [self.find_id(film) for film in film_list]
        idx_list = [idx for idx in idx_list if idx != -1]

        if not idx_list:
            return "No matching films found."

        avg_similarity = sum(self.cosine_sim[idx] for idx in idx_list) / len(idx_list)
        
        self.df['similarity'] = avg_similarity

        self.df = self.df[~self.df['film'].isin(film_list)]

        sort_df = self.df.sort_values(by='similarity', ascending=False)[:total_result]
        
        recommended_movies = ['{}. {}'.format(i+1, movie) for i, movie in enumerate(sort_df['film'])]

        return recommended_movies

    def find_id(self, name):
        for index, string in enumerate(self.df['film']):
            if re.search(name, string):
                return index
        return -1

In [114]:
customer_movies

           customerid                                               film
0          0000000014                                [AVENGERS: HỒI KẾT]
1          0000000034  [JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH, NGÔI ĐỀN K...
2          0000000051                [JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH]
3          0000000081                                [AVENGERS: HỒI KẾT]
4          0000000098                   [AVENGERS: HỒI KẾT, VÔ GIAN ĐẠO]
...               ...                                                ...
4474        KH9855766  [CHÚA TỂ GODZILLA: ĐẾ VƯƠNG BẤT TỬ, JOHN WICK ...
4475        KH9958204                                 [NGÔI ĐỀN KỲ QUÁI]
4476  WEBS00000043900      [MẸ MA THAN KHÓC LA LLORONA, ƯỚC HẸN MÙA THU]
4477  WEBS00000044909                [CHÚA TỂ GODZILLA: ĐẾ VƯƠNG BẤT TỬ]
4478  WEBS00000046015                                [AVENGERS: HỒI KẾT]

[4479 rows x 2 columns]

In [115]:
customer_id = '0000000034'
film_list = customer_movies[customer_movies['customerid'] == customer_id]['film'].iloc[0]

print("Những bộ phim đã xem của khách hàng có mã " + customer_id + " gồm: "+ str(film_list))

sys = CinemaSystem(final_data, cosine_sim)
recommended_movies = sys.recommendation(film_list, total_result=5)

print("Danh sách bộ phim được đề xuất:")
for movie in recommended_movies:
    print(movie)

Những bộ phim đã xem của khách hàng có mã 0000000034 gồm: ['JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH', 'NGÔI ĐỀN KỲ QUÁI']
Danh sách bộ phim được đề xuất:
1. MẸ MA THAN KHÓC LA LLORONA
2. NỤ HÔN MA QUÁI
3. CORGI: NHỮNG CHÚ CHÓ HOÀNG GIA
4. ƯỚC HẸN MÙA THU
5. QUÝ CÔ LỪA ĐẢO

C:\Users\Laptop VINHLINK\AppData\Local\Temp\ipykernel_9036\1174931978.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.df['similarity'] = avg_similarity